.page {
    background-color:#fafaff;
    width: 100%;
    /* height: 100vh; */
    padding-top: 100px;
    font-family: "Montserrat";
}

.formWrapper {
    width: 250px;
    margin: auto;
    margin-top: 50px;
}

.formWrapperLogin {
    margin-top: 100px;
}

.title {
    color: black;
    margin-bottom: 10px;
    font-size: 25px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: solid;
    border-color: #cccccf;
    font-size: 15px;
    padding: 10px;
    text-align:left;
}

.input:focus::placeholder {
    color: transparent;
  }

.submit {
    border: solid;
    background: #5858d1;
    color: white;
    padding: 15px;
    border: none;
    font-size: 20px;
    font-family: "Montserrat";
    cursor: pointer;
    margin: auto;
    width: 100%;
}

.submit:hover {
    color: #5858d1;
    background: white;
    border: solid;
    border-color: #5858d1;
}

.switch {
    margin-top: 10px;
    padding: 10px;
    background:  #a0f07a;
    border: solid;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: "Montserrat";
    cursor: pointer;
}

@media  (min-width: 500px) {
    .formWrapper {
        width: 400px;
    }
}

@media  (min-width: 1000px) {
    .formWrapper {
        width: 450px;
    }
}