.body {
    min-width: 600px;
    max-width: 900px;
    margin: auto;
}

.genInfo {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.nameWrapper {
    text-align: center;
}

.profileImage {
    border-radius: 200px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.name {
    font-size: 20px;
    display: inline-block;
    margin-left: auto;
    
}

.title {
    font-size: 15px;
    font-weight: unset;
}


.bio {
    font-size: 16px;
    margin-bottom: 40px;
    text-align: center;
}

.tags {
    display: flex;
    flex-direction: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tag {
    padding: 1px 3px 1px 3px;
    margin: 0px 2px 0px 2px;
    display: inline-block;
    border-radius: 5px;
    background-color: #47c2ff;
    color: white;
}

.education, .experience {
    border-radius: 15px;
    margin-bottom: 30px;
    display: grid;
    
    /* padding: 20px; */
    /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); */
}

/* Table CSS:*/

.profileTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* border-width: 50px; */
    /* border-collapse: collapse; */
    border-bottom: 12px solid #01303f;
}

.profileTable th {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: #01303f;
    color: white;
}

.profileTable td {
    padding: 10px;
    font-size: 16px;
    /* background-color: #01303f; */
    color: #01303f;
}

.profileTable tr {
    display: block;
}

.breakCell {
    float: left;
}

.profileTable tr:nth-child(even){margin-top:-100px; color: red;}

.profileTable tr:hover {background-color: #ddd;}

.school {
    width: 100px;
}
.degree {
    width: 100px;
}
.fieldOfStudy {
    width: 100px;
}
.years {
    width: 100px;
}


