.body {
    min-width: 600px;
    max-width: 900px;
    margin: auto;
}

.genInfo {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.nameWrapper {
    text-align: center;
}

.profileImage {
    border-radius: 200px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.name {
    font-size: 20px;
    display: inline-block;
    margin-left: auto;
    
}

.title {
    font-size: 15px;
    font-weight: unset;
}


.bio {
    font-size: 16px;
    margin-bottom: 40px;
    text-align: center;
}

.tags {
    display: flex;
    flex-direction: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tag {
    padding: 1px 3px 1px 3px;
    margin: 0px 2px 0px 2px;
    display: inline-block;
    border-radius: 5px;
    background-color: #47c2ff;
    color: white;
}

.education, .experience {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);    
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    min-height: 100px;
    /* margin-bottom: 20px; */
    padding: 10px;
    width: 100%;
    min-width: 900px;
    display: grid;
    grid-template-columns: 
    30% 20% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "institution degTit fieLoc duration"
    "desc desc desc desc";
}

.education div, .experience div {
    font-weight: 600;
    font-size: 16px;
}

.education .desc, .experience .desc {
    font-weight: 300;
    font-size: 14px;
}

.tableItem {
    max-height: 100px;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
}



.institution {
    grid-area: institution;
    /* background-color: yellow; */
}
.degTit {
    grid-area: degTit;
    /* background-color: orange; */
}
.fieLoc {
    grid-area: fieLoc;
    /* background-color: orangered; */
}
.duration {
    grid-area: duration;
    /* background-color: red; */
}
.desc {
    grid-area: desc;
}



.profileTable {
    border-collapse: collapse;
    /* border-width: 50px; */
    /* border-collapse: collapse; */
}

.tableHeader {
    background-color: #01303f;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 900px;
    padding: 15px;
    margin-top:15px;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    color: white;
    height: 80px;
    
    display: grid;
    grid-template-columns: 
    30% 20% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "institution degTit fieLoc duration";
}