.progressBar {
    justify-content: center;
    counter-reset: step;
    display: flex;
    min-width: 650px;
    max-width: 750px; 
    margin-left: auto;
    margin-right: auto;
}
.progressBar li {
    list-style-type: none;
    width: 50%;
    float: left;
    font-size: 20px;
    position: relative;
    text-align: center;
}
/* circle: */
.progressBar li:before {
    width: 25px;
    height: 25px;
    content: counter(step);
    counter-increment: step;
    line-height: 25px;
    border: 2px solid #01303f;

    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color:white;
    cursor: pointer;
}

.progressBar li.Active:before {
    background-color: #01303f;
    color: white;
}

.progressBar li.Inactive:before{
    background-color: white;
    color: #01303f;
}

/* line: */
.progressBar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 13px;
    left: -50%;
    z-index: -1;
}

/* no line before first child: */
.progressBar li:first-child:after {
    content: none;
}
/* Make active circle green: */
.progressBar li.active {
    color: green;
}

/* make lines green: */
.progressBar li.active:before {
    border-color: #55b776;
}
.progressBar li.active + li:after {
    background-color: #55b776;
}

.step {
    font-size: 14px;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   cursor: pointer;
}



/* To do:
increase size of cirle
increase font

add some color */