body {
	width: 100%;
	min-height: 100%;
	margin: 0;
 	font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
 	background-color: rgb(243,243,243);
}

/* Main Body */
#mainBody {
	display: inline-block;
	height: 100%;
	margin-top: 75px;
	margin-left: 7%;
	margin-right: 7%;
	max-width: 90%;
	min-width: 600px;
	padding-left: 7%;
	padding-right: 7%;
}

/* Contact Info */
.vcard {
	float:left;
	width: 20%;
	height: 40%;
	background-color: #CAE7EC;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #c2c2c2;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 0 30px 0;
}

.photo {
	display: block;
	width: 75%;
	margin: 10% auto 0 auto;
}

.name {
	margin: 10px auto 0 auto;
}

.fn {
	font-weight: bold;
	font-size:2em; 
	display: block;
	text-align: center;
	color: #696969;
}
.contactInfo {
	padding: 10px 0 0 20px;
	display: inline-block;
	font-size: .9em;
}

.tel {
	margin-top: 10px;
}

.adr {
	margin-top:10px;
}

/* Objective */
#statement {
  float: right;
	width: 73%;
	height: 100px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #c2c2c2;
	padding: 10px 20px 10px 20px;
	margin-bottom: 3%;
	margin-left: 10px;
}

/* Education and Work Experience */
.experience {	
	float: right;
	width: 73%;
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #c2c2c2;
	padding: 10px 20px 10px 20px;
  margin-bottom: 3%;
  margin-left: 10px;
}

/* Section title and content */
.sectionTitle {
	float: left;
	width: 25%;
	height: 100%;
}

h2 {
	color: #34A6B5;
}

.sectionContent {
	float:right;
	width: 75%;
	height: 100%;
}

/* Places */
article {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Location */
a:hover {
  color: #424242;
}

a {
	font-weight: bold;
  text-decoration: none;
  color: #696969;
}

/* Date */
.date {
	float: right; 
	font-size: .9em;
	padding: 3px 0 0 0;
	margin: 0 0 0 0;
}

/* Job */
.job {
	font-style: italic;
	margin: 4px 0 0 0;
}

.jobContent {
	margin: 0 0 10px 0;
	list-style: disc;
}

/* Skills Section */
#skills {	
	float: right;
	width: 73%;
	height: 100px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #c2c2c2;
	padding: 10px 20px 10px 20px;
  margin-bottom: 50px;
  margin-left: 10px;
  content: "";
  display: table;
  clear: both;
}

.skillCol {
  float: left;
  width: 33.3%;
}

.skillList {
	list-style: disc;
}

