body {
    width:100%;
    height:100%;
}

/*header-----------------------------------------------------------------*/
.headerMenuLink {
    color:gray;
    text-decoration: none;

    
}

.headerMenuLink:hover{
    color: darkgray;
    text-decoration: none;
}

/* @media (min-width: 768px) {
     .navbar {
         height: 80px;
         display: flex;
         align-items: center;
     }
}
@media (max-width: 767px) {
    .navbar-header {
        height: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-toggle {
        margin-top: 5px;
    }
}       */

/*reset the default navbar brand padding [it's 15px by default]*/
.navbar-brand {
    padding: 0;
}

/*transfer the navbar brand padding to the image inside it, also make it 100% height*/
.navbar-brand  >img {
    padding: 15px;  /*this value is optional, increasing or decreasing it is up to you.*/
    height: 100%;
}   

/*mainBody-----------------------------------------------------------------*/




#profilePic {
    background-color:lightblue;
    padding:10px;
    margin:auto;
   
}