

/*header-----------------------------------------------------------------*/
.headerMenuLink {
    color:gray;
    text-decoration: none; 
}

.headerMenuLink:hover{
    color: darkgray;
    text-decoration: none;
}

/*reset the default navbar brand padding [it's 15px by default]*/
.navbar-brand {
    padding: 0;
}

/*transfer the navbar brand padding to the image inside it, also make it 100% height*/
.navbar-brand  >img {
    padding: 15px;  /*this value is optional, increasing or decreasing it is up to you.*/
    height: 100%;
}   

/*mainBody-----------------------------------------------------------------*/
#mainBody {
    padding:0 ! important;
}

/* user profile*/
#userProfileSidebar {
    /* position: fixed; */
 /* height:80%; */
 /* background-color: #CAE7EC; */
 /* background-color: gray;
 text-align: center;
 border-radius: .4rem; */
}

#userProfile {
    background-color: #CAE7EC; 
}

#userName {
    font-size:1.2rem;
}

#profilePhoto {
    margin:auto;
    padding: 10px 0px 10px 0px;
}

#studentCard {
    background-color: #CAE7EC; 
}

#TutorCard {
    background-color: #CAE7EC; 
}
#userStatus {
    font-size:1rem;
}

#userProfileClassDisplay {
    padding: 10px 0px 10px 0px;
}

.userProfileClasses {
    background-color: rgba(136, 133, 133, 0.664);
    color:white;
    border:none;
    margin: 2px 0px 2px 0px;
    border-radius: .4rem;
}

.userProfileClasses:hover {
    background-color: rgba(114, 111, 111, 0.664);
    color:rgb(224, 219, 219);
}






.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.4rem;
}

#liveStreaming {
    height: 30vh;
    background-color: rgb(169, 223, 248);
}

#tutors {
    height: 30vh;
    background-color: rgb(181, 240, 217);
}

#forum {
    height: 30vh;
    background-color: rgb(180, 180, 255);
}