html,body{height:100%;}

/*header-----------------------------------------------------------------*/
.headerMenuLink {
    color:gray;
    text-decoration: none; 
}

.headerMenuLink:hover{
    color: darkgray;
    text-decoration: none;
}

/*reset the default navbar brand padding [it's 15px by default]*/
.navbar-brand {
    padding: 0;
}

/*transfer the navbar brand padding to the image inside it, also make it 100% height*/
.navbar-brand  >img {
    padding: 15px;  /*this value is optional, increasing or decreasing it is up to you.*/
    height: 100%;
}   

/*mainBody-----------------------------------------------------------------*/
#mainBody {
    padding: 63.5px 0px 0px 0px;
}

/* user profile*/
#userProfileSidebar {
    
}

#userProfile {
    /* background-color: #CAE7EC;  */
}

#userName {
    font-size:1.2rem;
}

#profilePhoto {
    margin:auto;
    padding: 10px 0px 10px 0px;
}

#studentCard {
    background-color: #CAE7EC; 
}

#TutorCard {
    background-color: #CAE7EC; 
}
#userStatus {
    font-size:1rem;
}

#userProfileClassDisplay {
    padding: 10px 0px 10px 0px;
}

.userProfileClasses {
    background-color: rgba(136, 133, 133, 0.664);
    color:white;
    border:none;
    margin: 2px 0px 2px 0px;
    border-radius: .4rem;
}

.userProfileClasses:hover {
    background-color: rgba(114, 111, 111, 0.664);
    color:rgb(224, 219, 219);
}


#interactionWindow {
    height: 100%;
}

#interactionAssignmentFrame {
    width:100%;
    height:100%;
    z-index:1;
}

#interactionAssignmentCanvas{
    width:100%;
    height:100%;
    z-index:1000;
}

#drawingToolbar {
    padding: 0px 0px 0px 0px;
    height:20%;
    width:100%;
}

#drawingTools {
    margin-left:auto;
    margin-right:auto;
    /* background-color: rgba(39, 39, 39, 0.281); */
    padding: 15px 5px 5px 5px;
    width: 144px;
    border-radius: 2px;
}

.drawingUtensil {
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: white;
    padding: 3px 3px 3px 3px;
    box-shadow: 1px 1px 5px grey;
}



#interactionSidebar {
    height: 100%;
}

#mentorCam{
    height:25%;
}

#menteeCam {
    height:25%;
}

#menteeVideo {
    width:100%; 
}

#mentorVideo {
    width:100%;
}


#chatWindow {
    margin-top:25px;
    background-color:rgba(45,45,45,0.5);
    height:330px;
    border-radius: 5px;
}

.chatBox {
    height: 70%;
    width: 100%;
    margin-top: 5px;
    overflow-y: scroll;
    padding:5%;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.messageBox {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom:20px;
}

#userMessage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1vh;
  border-radius: 1vh;
}

#messageSend {
  border-radius: 1vh;
  width: 50%;
  height: 5vh;
  text-align: center;
}

.message, .message1, .message2, .message3, .message4 {
    border: 2px;
    border-radius: 5px;
    background-color: white;
    width: 80%;
    /* margin-left: 1px; */
    margin-top: 1px;
    margin-bottom:5px;
    line-height: 30px;
    vertical-align: middle;
    font-size:1rem;
}

.message {
    float: right;
    margin-right: 2px;
}

.message::before {
  content: "";
  vertical-align: middle;
  width:15px;
  height: 15px;
  border-radius: 50%;
  display: inline-flex;
  margin-right: 1vw;
  /* background-image: url("../res/profileIcon.jpg"); */
  background-size: 30px;
}

.message1::before {
    content: "";
    vertical-align: middle;
    width:30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 1vw;
    background-size: 30px;
  }

.message2::before {
    content: "";
    vertical-align: middle;
    width:15px;
    height: 15px;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 1vw;
    background-size: 30px;
  }

.message3::before {
content: "";
vertical-align: middle;
width:15px;
height: 15px;
border-radius: 50%;
display: inline-flex;
background-size: 30px;
}

.message4::before {
    content: "";
    vertical-align: middle;
    width:30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    /* background-image: url("../res/doctor.jpg"); */
    background-size: 30px;
}


