* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 55px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f6f8fa;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
