body {
    width:100%;
    height:100%;
}

/*header-----------------------------------------------------------------*/
.headerMenuLink {
    color:gray;
    text-decoration: none;

    
}

.headerMenuLink:hover{
    color: darkgray;
    text-decoration: none;
}

/*reset the default navbar brand padding [it's 15px by default]*/
.navbar-brand {
    padding: 0;
}

/*transfer the navbar brand padding to the image inside it, also make it 100% height*/
.navbar-brand  >img {
    padding: 15px;  /*this value is optional, increasing or decreasing it is up to you.*/
    height: 100%;
}   

/*mainBody-----------------------------------------------------------------*/
#mainBody {
    padding:0 ! important;
}

/* user profile*/
#userProfile {
 height:70%;
 background-color: #CAE7EC;
 text-align: center
}

#profilePhoto {
    margin:auto;
    padding: 10px 0px 10px 0px;
}

#userName {
   font-size:1.2rem;
}

#userStatus {
    font-size:1rem;
}

#userProfileClasses {
    padding: 10px 0px 10px 0px;
}


.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#liveStreaming {
    height: 30vh;
    background-color: rgb(169, 223, 248);
}

#tutors {
    height: 30vh;
    background-color: rgb(181, 240, 217);
}

#forum {
    height: 30vh;
    background-color: rgb(180, 180, 255);
}